.box {
    width: 500px;
    padding: 10px;
    border: 1px solid black;
}
.box div {
    width: 250px;
    height: 50px;
    background-color: grey;
    transition:1.5s ease;
    
}
.box div:hover{
    background-color: yellow;
    font-size: 12px;
}
.red{
    color: red;
}
.a{
    text-decoration: none;
}


/* 趣味推理题 /
/ 已知让第一个li的字体大小变为20px的代码为：*/
.box ul li:nth-child(1){
    font-size: 20px;
}
.box ul li:nth-child(2){
    font-size: 30px;
}
.box ul li:nth-child(3){
    font-size: 40px;
}
/* 请让第二个和第三个li元素完成它们想要的变换！提示：大家可以查一下:nth-child伪类选择器*/
.pa{
    display: flex;
    justify-content: center;
    align-items: center;
}